#skill {
  overflow: hidden;
  width: 100vw;
  max-width: 75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;

}

